# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy PHP app to Azure Web App - kpborju

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      # --- 1. SETUP PHP & COMPOSER ---
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Check if composer.json exists
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: 'composer.json'

      - name: Run composer install if composer.json exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: composer validate --no-check-publish && composer install --prefer-dist --no-progress

      # --- 2. SETUP NODE & NPM BUILD (Bagian Baru) ---
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies & build assets
        run: |
          npm install terser
          npm install
          npm run build
          rm -rf node_modules 
          # Baris di atas (rm -rf) penting! Kita hapus node_modules setelah build 
          # agar proses upload ke Azure lebih cepat dan ringan.

      # --- 3. UPLOAD ARTIFACT ---
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: .
          # Opsional: Jika Anda ingin memastikan file .env atau hidden file lain terbawa (hati-hati dengan secrets!)
          # include-hidden-files: true 

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: php-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FD04EC503EF042CD8D5B0FACE8E18D56 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_37687DC5D35240CEB01D2D7A4305A4DA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4E8AEF26710F4433B561F6FECDBC2801 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'kpborju'
          slot-name: 'Production'
          package: .

